{% set favicon = "https://fonts.gstatic.com/s/i/materialiconsoutlined/library_books/v14/24px.svg" %}
{% if url %}
{% set favicon = "https://external-content.duckduckgo.com/ip3/" + url.hostname + ".ico" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} | readability.site</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="shortcut icon" href="{{favicon}}"/>
</head>
<body>
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer>
		<hr>
		<p>
			Made by Kyle Williams in response to a
			<a href="https://drewdevault.com/2021/09/23/Nitter-and-other-internet-reclamation-projects.html">Drew DeVault blog post</a>. Released on
			<a href="https://github.com/SuperSonicHub1/readability-site">GitHub</a>
			under the
			<a href="https://unlicense.org">Unlicense</a>
			.
		</p>
	</footer>
</body>
</html>
